{% extends "base-2.html" %}
{% block head_js %}
<link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block body_div %}
<div class="container">
<div class="jumbotron">
 <label>
 {%  if add_user_ok %}
  用户：{{add_user_ok}} ,添加【成功】！
  {% endif %}
  {%  if add_user_fail %}
  {{add_user_fail}}已存在，请使用其他呢称 ！
  {% endif %}
 <form name="form1" class="form-signin" role="form" method='post'>
 <table>
     <tr><td>名称:</td><td><input class="form-control" name='name'><td></tr>
     <tr><td>口令:</td><td><input class="form-control" name='passwd'><td></tr>
     <tr><td>年龄:</td><td><input class="form-control" name='age'><td></tr>
     <tr><td>部门:</td><td><input class="form-control" name='bm'><td></tr>
 </table>
  <br>
  <button class="btn btn-lg btn-default btn-block" type="submit" name="cmd" value="add">添加</button>
 </form>
 </label>
  <label>
 <form class="form-signin" role="form" method='post'>
 <table>
     <tr><td>名称:</td><td><input class="form-control" name='name'><td></tr>
     <tr><td>口令:</td><td><input class="form-control" name='passwd'><td></tr>
     <tr><td>年龄:</td><td><input class="form-control" name='age'><td></tr>
     <tr><td>部门:</td><td><input class="form-control" name='bm'><td></tr>
 </table>
  <br>
  <button class="btn btn-lg btn-default btn-block" type="submit" name="cmd" value="add">添加</button>
 </form>
 </label>
   </div>
    </div> <!-- /container -->
{% endblock %}