<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="jk409网站">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>运维后台</title> 
    <link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="bootstrap-3.3.0/dist/css/bootstrap-theme.css") }}" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> 
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="{{ url_for('static', filename='bootstrap-3.3.0/dist/js/bootstrap.min.js') }}"></script> 
    {% block head_js %}
    {% endblock %}

  </head>
  <body>
  
<div class="container-fluid>
<div class="row clearfix">
<div class="col-md-14 column">
<!--nav class="navbar navbar-default" role="navigation"-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="collapse navbar-collapse navbar-inverse">
<ul class="nav navbar-nav">
<li class=""><a href="/">首页</a></li>
<li class="{{ll_active}}"><a href="/ll">流量图</a></li>
<li class="{{info_active}}"><a href="/info">访问图</a></li>
<li class="{{file_active}}"><a href="/upload">文件管理</a></li>
<li class="{{host_active}}"><a href="/host">主机管理</a></li>
<li class="{{user_active}}"><a href="/user">用户管理</a></li>
</ul>
 <ul class="nav navbar-nav navbar-right">
   <li><a>{{ username}}</a></li>
   <li role="presentation"><a href="logout">退出</a></li>
 </ul>
</div>
</nav>
</div>
</div>
</div>

    <!--div class="container">
     </div><!-- /.container -->
  {% block body_div %}
        {% endblock %}
 {% block body_js %}
 {% endblock %}

 
<footer class="footer">
     <h5>@wellcome
</footer>
</body>
</html>
