{% extends "base-2.html" %}
{% block head_js %}
<!--link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/signin.css') }}" rel="stylesheet"-->
<link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body_div %}
<!--div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"-->
<div class="container-fluid"-->
<div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-4 main">

  <label>
 {%  if host_add_ok %}
  提示：
  IP：{{host_add_ok}} ,添加【成功】！
 {% else %}
      {%  if host_add_fail %}
      提示：
      {{host_add_fail}}已存在，请添加其他IP ！
      {% else %}
          提示：
          请正确输入IP信息！
      {% endif %}
  {% endif %}
 <form class="form-signin" role="form" method='post'>
 <p>
 <table>
     <tr><td>IP:</td><td><input  class="form-control" placeholder="IP地址" name='ip'></td><td>#必填项</td></tr>
     <tr><td>端口:</td><td><input class="form-control" placeholder="端口为整数" name='port'><td></tr>
     <tr><td>密码:</td><td><input class="form-control" placeholder="密码" name='passwd'><td></tr>
     <tr><td>组1:</td>
     <td>
     <select class="form-control" name="group">
      <option value="web_group">web_group</option>
      <option value="mysql_group">mysql_group</option>
      <option value="flask_app_group">flask_app_group</option>
      </select>
     <td>
      </tr>
      <tr><td>组2:</td>
      <td>
      <input type="checkbox" name="group2" value="mysql"> mysql
      <input type="checkbox" name="group2" value="web"> web
      <input type="checkbox" name="group2" value="ftp"> ftp
      <input type="checkbox" name="group2" value="samb"> samb
     </td>
     </tr>
 </table>
  <br>
  <button class="btn btn-lg btn-default btn-block" type="submit" name="cmd" value="add">添加</button>
 </form>
   </label>
    </div> <!-- /container -->
{% endblock %}