{% extends "base-2.html" %}
{% block head_js %}
<link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/signin.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body_div %}
<div class="container-fluid"-->
<div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-4 main">
 <label><h2>提醒：</h2>若增加填写相应的信息后点击[增加]按钮即可。
 <form class="form-signin" role="form" method='post'>
 <table>
     <tr><td>IP:</td><td><input class="form-control" name='ip' value={{ data['ip'] }}><td></tr>
     <tr><td>端口:</td><td><input class="form-control" name='port' value={{ data['port'] }}><td></tr>
     <tr><td>密码:</td><td><input class="form-control" name='passwd' value={{ data['passwd'] }}><td></tr>
     <tr><td>属组:</td><td><input class="form-control" name='group' value={{ data['group'] }}><td></tr>
 </table>
  <button class="btn btn-lg btn-default btn-block" type="submit" name="cmd" value="update">更新</button>
  <button class="btn btn-lg btn-default btn-block" type="submit" name="cmd" value="add">新增</button>
 </form>
 </label>
    </div>
    </div> <!-- /container -->
{% endblock %}