{% extends "base-2.html" %}
{% block head_js %}
<link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/dashboard.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.0/dist/js/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.0/dist/js/exporting.js') }}"></script>
{% endblock %}
{% block body_div %}
<!------------------左侧栏----------------------->
<div class="container-fluid">
        <div class="col-sm-3 col-md-2 sidebar">
        <a href='/info'><button class="btn btn-lg btn-default btn-block" type="button">气温图</button></a>
        <a href='/info'><button class="btn btn-lg btn-default btn-block" type="button">气温图</button></a>
        <a href='/info'><button class="btn btn-lg btn-default btn-block" type="button">气温图</button></a>
        <a href='/info'><button class="btn btn-lg btn-default btn-block" type="button">气温图</button></a>
        <a href='/info'><button class="btn btn-lg btn-default btn-block" type="button">气温图</button></a>
        </div>
</div>
<!------------------左侧栏----------------------->
<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
    <!--div class="hero-unit" id="container" style="min-width:700px;height:400px"-->
    <div id="container" style="min-width:700px;height:400px"></div>
 <div class="hero-unit"  id="container2"></div>
 <div class="hero-unit"  id="container3"></div>
 </div>
 {% endblock %}
 {% block body_js %}
<script> 
$(function () {
    $('#container').highcharts({
      chart: {
            type: 'spline'
        },
        title: {
            text: 'IP访问图',
            inverted: true,
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['0:00','1:00','2:00','3:00','4:00','5:00','6:00', '7:00', '8:00', '9:00', '10:00', '11:00','12:00', '13:00', '14:00', '15:00', '16:00', '17:00','18:00','19:00','20:00','21:00','22:00','23:00']
        },
        yAxis: {
            title: {
                text: '访问量 (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' PV'
        },
        //legend: {
        //    layout: 'vertical',
        //    align: 'right',
        //    verticalAlign: 'middle',
        //    borderWidth: 0
        //},
        series: [    
        {% for i in data %}
        {
            name: "{{i['name']}}",
            data: {{ i['data'] }},
        },
        {% endfor %}
        ]
    });
});
 </script> 
<script> 
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'JK409城市',
            x: -20 //center
        },
        xAxis: {
            categories: ['5:00','6:00', '7:00', '8:00', '9:00', '10:00', '11:00','12:00', '13:00', '14:00', '15:00', '16:00', '17:00','18:00']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        //legend: {
         //   layout: 'vertical',
           // align: 'right',
            //verticalAlign: 'middle',
           //borderWidth: 0
        //},
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
				
 </script> 
 <script> 
$(function () {
    $('#container3').highcharts({
        title: {
            text: '各个城市的气温启示图',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: www.jk409.com',
            x: -20
        },
        xAxis: {
            categories: ['5:00','6:00', '7:00', '8:00', '9:00', '10:00', '11:00','12:00', '13:00', '14:00', '15:00', '16:00', '17:00','18:00']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
				
 </script> 

 {% endblock %}
