{% extends "base-2.html" %}
{% block head_js %}
    <link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-3.3.0/dist/css/datatables2.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-3.3.0/dist/js/datatables2.js') }}"></script>

{% endblock %}
{% block body_div %}
<!--------------------------------------------------->
<div class="container-fluid">
        <div class="col-sm-3 col-md-2 sidebar">
        <button class="btn btn-lg btn-default btn-block" type="reset">添加主机</button>
        <div>
        <form  method='post'>
        <input name="ip" class="form-control" placeholder="IP address" >
        <input type="password" name="passwd" class="form-control" placeholder="Password" >
        <input name="port" class="form-control" placeholder="Port" >
        <select class="form-control" name="group">
         <option value="web_group">web_group</option>
         <option value="mysql_group">mysql_group</option>
         <option value="flask_app_group">flask_app_group</option>
         </select>
        <button class="btn btn-lg btn-default btn-block" type="submit" name='cmd' value='add'>添加</button>
        <button class="btn btn-lg btn-default btn-block" type="reset">重置</button>
        </form>
</div>
</div>
<!---------------------------------------------------->
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table id="user_list" class="display" cellspacing="0" width="100%">
    <thead><tr><th>IP排序</th><th>ID</th><th>IP</th><th>端口</th><th>密码</th><th>所属组</th><th>修改</th><th>删除</th></tr></thead>
    <tbody>
    {%  for i in data %} 
    <tr>
        <form class="form-signin" method='post'> 
           <td>{{i['ip']}}</td>
           <td><input  class="form-control"  readonly="readonly" name='_id' value={{i['_id']}}></td>
           <td><input class="form-control" name='ip' value={{i['ip']}}></td>
           <td><input class="form-control" name='port' value={{i['port']}}></td>
           <td><input class="form-control" name='passwd' value={{i['passwd']}}></td>
           <td><input class="form-control" name='group' value={{i['group']}}></td>
           <td>
           <button type="submit" class="btn btn-sm btn-default" name='cmd' value='update'>修改</button>
           </td><td>
           <button type="submit" class="btn btn-sm btn-default" name='cmd' value='delete'>删除</button>           
            </td>
         </form>
     </tr>        
    {% endfor %}     
    </tbody>
    </table>   
</div>
{% endblock %}


{% block body_js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#user_list').dataTable({
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/e9421181788/i18n/Chinese.json"
            }
        });
    });
</script>
{% endblock %}
